 
  *{
    box-sizing: border-box;
    border: solid 1px grey;
    background: lightgrey;
    margin: auto;
    width:100%;
    
  }

  body{
    width:960px;
  }

 
  
@media(min-width: 768px){
  header,  section, footer {
      max-width: 960px;
  }
  
}

@media only screen and (max-width: 500px) {
  header, section, footer {
      max-width: 500px;
  }
}