@media only screen and (max-width: 500px) {

#a {
    width: 480px;
    border:solid black 1px;
}
#b {
    width: 480px;
    border:solid black 1px;
}
#c {
     width: 480px;
    border:solid black 1px;
}
#d {
    width: 480px;
    border:solid black 1px;
}

#e{
    width: 250px;
    border:solid black 1px;
    float:right;
    margin-left:5em;
}

#f{
    width: 250px;
    border:solid black 1px;
}

#g{
    width: 250px;
    border:solid black 1px; 
    float:right;
    margin-left:5em;
}

#h{
    width: 250px;
    border:solid black 1px;
   

}

#i{
    width: 480px;
    border:solid black 1px;
    overflow: auto;
}

}

@media( min-width: 960px ) {
    body{
        width:100%;
    }

   div{
       float:left;
   }
   
   #a{
       width:100%;
   }

    #b{
        width:200px; 
        
    }
    
    #c {
        width:380px;
    }
    
    #d{
     width:380px;
    }

    #e,#f, #g, #h{
        width:190px;
    }

   #i{
        width:760px;
    }

        
    }

