
#a {
    height:75px;
   
}
#b {
    height:150px;
}
    
#c {
    height:125px;
   
}
#d {
    height:125px;
    
}

#e{
    height:240px;
}

#f{
    height:240px;
    
}

#g{
    height:240px;
    
}

#h{
    height:240px;
    
   

}

#i{
    height:80px;
    
}

@media(min-width:768px) {
div{
    float:left;
}

#a{

    height:100px;
}
#b{
    height:600px;
}
#c,#d{
    height:200px;
}

#e ,#f, #g ,#h{
    height:250px;
    margin-left:0em;
}

#i{
 
    height:150px;
    float:left;
}
}


