#a{
    background-color: lightpink;
}

#b{
    background-color: lightsalmon;
}

#c{
    background-color: lightslategrey;
}

#d{
    background: mediumaquamarine;
}

#e{
    background-color: mediumpurple;
}

#f{
    background-color: navajowhite;
}

#g{
    background-color: olive;
}

#h{
    background-color: peachpuff;
}

#i{
    background-color: rosybrown;
}